#div1{
    border: 1px dashed rgb(0, 255, 85);
    margin: 10px;
    height: 300px;
    width: 200px;
    padding: 30px;
}


#div2{
    border: 1px  dashed rgb(255, 0, 0);
    margin: 10px;
    height: 300px;
    width: 300px;
    padding: 30px;
}

#div3{
    border: 1px dashed rgb(255, 166, 0);
    margin: 10px;
    height: 200px;
    width: 200px;
    padding: 30px;
}


#div4{
    border: 1px dashed rgb(255, 0, 234);
    margin:10px;
    height: 150px;
    width: 150px;
    padding: 30px;
}

body{
    margin: 50px;
}
